@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

body {
  font-family: "Sintony", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 13px;
  background-color: #f5f5f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
}

h2 {
  font-family: "Prata", serif;
  font-size: 48px;
  letter-spacing: 0px;
  text-transform: none;
  color: #2b2e2b;
  margin-bottom: 26px;
}

p {
  font-size: 16px;
  margin-bottom: 36px;
}

.menu {
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  transform: translateX(100%);
  z-index: 490;
}

.active {
  pointer-events: auto;
  visibility: visible;
  transition: all 0.25s ease;
  transform: translateX(0);
}
